.slide-left{
  transform: translate3d(-100%, 0, 0);
  .no-csstransforms3d & {
    transform: translate(-100%, 0);
  }
  transition: transform 1000ms ease;
  .active & {
    transform: translate3d(0, 0, 0);
    .no-csstransforms3d & {
      transform: translate(0, 0);
    }
  }
}

.slide-right{
  transform: translate3d(100%, 0, 0);
  transition: transform 1000ms ease;
  .no-csstransforms3d & {
    transform: translate(100%, 0);
  }
  .active & {
    transform: translate3d(0, 0, 0);
    .no-csstransforms3d & {
      transform: translate(0, 0);
    }
  }
}

.slide-top{
  transform: translate3d(0, -500%, 0);
  opacity: 0;
  transition: transform 1000ms ease, opacity 500ms ease;
  .no-csstransforms3d & {
    transform: translate(0, -500%);
  }
  .active & {
    transform: translate3d(0, 0, 0);
    .no-csstransforms3d & {
      transform: translate(0, 0);
    }
    opacity: 1;
  }
}

.slide-bottom{
  transform: translate3d(0, 500%, 0);
  opacity: 0;
  transition: transform 1000ms ease, opacity 500ms ease;
  .no-csstransforms3d & {
    transform: translate(0, 500%);
  }
  .active & {
    transform: translate3d(0, 0, 0);
    .no-csstransforms3d & {
      transform: translate(0, 0);
    }
    opacity: 1;
  }
}

.zoom-in{
  transform: scale(0);
  transition: transform 1500ms ease;
  .active & {
    transform: scale(1);
  }
}

.fade-in{
  opacity: 0;
  transition: opacity 2500ms ease;
  .active & {
    opacity: 1;
  }
}

@iterations: 10;
.delay-loop (@i) when (@i > 0) {
  .delay-@{i},
  .active .delay-@{i} {
    transition-delay: @i * 100ms;
  }
  .delay-loop(@i - 1);
}
.delay-loop (@iterations);

@iterations: 10;
.speed-loop (@i) when (@i > 0) {
  .speed-@{i},
  .active .speed-@{i} {
    transition-duration: @i * 100ms;
  }
  .speed-loop(@i - 1);
}
.speed-loop (@iterations);
