@icon-facebook-small-x : -374px;
@icon-facebook-small-y : -231px;
@icon-facebook-small-width : 17px;
@icon-facebook-small-height : 18px;
@icon-facebook-small-image : '../img/icons.png';
@icon-facebook-x : -374px;
@icon-facebook-y : -201px;
@icon-facebook-width : 32px;
@icon-facebook-height : 30px;
@icon-facebook-image : '../img/icons.png';
@icon-fifa-x : -293px;
@icon-fifa-y : -201px;
@icon-fifa-width : 81px;
@icon-fifa-height : 70px;
@icon-fifa-image : '../img/icons.png';
@icon-globe-x : 0px;
@icon-globe-y : 0px;
@icon-globe-width : 293px;
@icon-globe-height : 294px;
@icon-globe-image : '../img/icons.png';
@icon-google-small-x : -391px;
@icon-google-small-y : -231px;
@icon-google-small-width : 17px;
@icon-google-small-height : 17px;
@icon-google-small-image : '../img/icons.png';
@icon-google-x : -406px;
@icon-google-y : -201px;
@icon-google-width : 41px;
@icon-google-height : 30px;
@icon-google-image : '../img/icons.png';
@icon-stop-x : -293px;
@icon-stop-y : 0px;
@icon-stop-width : 201px;
@icon-stop-height : 201px;
@icon-stop-image : '../img/icons.png';
@icon-twitter-small-x : -408px;
@icon-twitter-small-y : -231px;
@icon-twitter-small-width : 17px;
@icon-twitter-small-height : 16px;
@icon-twitter-small-image : '../img/icons.png';
@icon-twitter-x : -447px;
@icon-twitter-y : -201px;
@icon-twitter-width : 35px;
@icon-twitter-height : 30px;
@icon-twitter-image : '../img/icons.png';

.icon-facebook-small {
  background-image: url(../img/icons.png);
  background-position: -374px -231px;
  //background-size: 17px 18px;
  width: 17px;
  height: 18px;
}
.icon-facebook {
  background-image: url(../img/icons.png);
  background-position: -374px -201px;
  //background-size: 32px 30px;
  width: 32px;
  height: 30px;
}
.icon-fifa {
  background-image: url(../img/icons.png);
  background-position: -293px -201px;
  //background-size: 81px 70px;
  width: 81px;
  height: 70px;
}
.icon-globe {
  background-image: url(../img/icons.png);
  background-position: 0px 0px;
  //background-size: 293px 294px;
  width: 293px;
  height: 294px;
}
.icon-google-small {
  background-image: url(../img/icons.png);
  background-position: -391px -231px;
  //background-size: 17px 17px;
  width: 17px;
  height: 17px;
}
.icon-google {
  background-image: url(../img/icons.png);
  background-position: -406px -201px;
  //background-size: 41px 30px;
  width: 41px;
  height: 30px;
}
.icon-stop {
  background-image: url(../img/icons.png);
  background-position: -293px 0px;
  //background-size: 201px 201px;
  width: 201px;
  height: 201px;
}
.icon-twitter-small {
  background-image: url(../img/icons.png);
  background-position: -408px -231px;
  //background-size: 17px 16px;
  width: 17px;
  height: 16px;
}
.icon-twitter {
  background-image: url(../img/icons.png);
  background-position: -447px -201px;
  //background-size: 35px 30px;
  width: 35px;
  height: 30px;
}
