.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.light{
  font-weight: 100;
}
.normal{
  font-weight: 300;
}
.semi-bold{
  font-weight: 400;
}
.bold{
  font-weight: 700;
}
.underline{
  text-decoration: underline;
}
.uppercase{
  text-transform: uppercase;
}
.italic{
  font-style: italic;
}
.bigger{
  font-size: 1.2em;
}
.double-bigger{
  font-size: 1.4em;
}
.smaller{
  font-size: .8em;
}
.double-smaller{
  font-size: .4em;
}
.red{
  color: #fc0d1b;
}
.orange{
  color: #e6952d;
}
.grey{
  color: #8e8e8e;
}
